body {
  background: rgb(7, 52, 82);
  animation: mymove 4s infinite;
}

@keyframes mymove {
  from {
    background-color: rgb(15, 164, 250);
  }
  to {
    background-color: rgb(40, 236, 250);
  }
}

h1 {
  color: #1190f8;
  font-family: "Times New Roman", Times, serif;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
li {
  color: rgba(39, 33, 66, 0.4);
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin-bottom: 5px;
}

li::first-letter {
  text-transform: uppercase;
}

.temperature {
  color: rgb(5, 77, 71);
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-weight: 600;
}
.unit {
  position: relative;
  top: -20px;
  font-size: 20px;
}

#celcius-link
/* #fahrenheit-link { */ {
  text-decoration: none;
}

#celcius-link:hover
/* #fahrenheit-link:hover { */ {
  text-decoration: underline;
}

div.container {
  max-width: 800px;
  margin-top: 60px;
}

body div.card-border-city {
  background: #ccf9f8;
  padding: 20px 30px 30px 70px;
}

body div.card-border-weather {
  background: #ffffff;
  padding: 5px 37px 30px 70px;
  line-height: 70px;
}

div.forecast-day {
  font-size: 23px;
  font-family: pt monospace;
  color: #1190f8;
  opacity: 0.8;
}

div.forecast-temperature {
  font-size: 19px;
  font-family: pt monospace;
}
div.forecast-icon {
  font-size: 30px;
}

#open-source-code {
  color: rgba(248, 9, 9, 0.692);
}
